# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# App bundles
*.app
