PORT="1314"
SITE_DIR="../site/public"
DATA_DIR="./data"
PURCHASE_URL="https://shop.taobao.com/"

LICENSE_SIGNING_KEY="SAME_BASE64_KEY_AS_CLEANMAC_LICENSE_VALIDATION_KEY"
LICENSE_ENCRYPTION_KEY="RANDOM_32_BYTE_BASE64_SECRET_FOR_ENCRYPTING_LICENSE_CODES"
LICENSE_HASH_PEPPER="RANDOM_LONG_SECRET_FOR_DB_HASHING"
SERVER_TOKEN_SECRET="RANDOM_LONG_SECRET_FOR_ACTIVATION_TOKENS"
ADMIN_TOKEN="RANDOM_LONG_SECRET_FOR_MANUAL_LICENSE_API"
LICENSE_MAX_DEVICES="1"

APP_NAME="CleanMac"
SUPPORT_EMAIL="ruwin_211@126.com"
